---
layout: default
---

{% include navigation.html %} {% include breadcrumb.html %} hii
<h1>
  {% if page.archive_type == "year" %} Posts from {{ page.title }} {% elsif
  page.archive_type == "month" %} Posts from {{ page.date | date: "%B %Y" }} {%
  elsif page.archive_type == "category" %} Category: {{ page.title }} {% elsif
  page.archive_type == "tag" %} Tag: {{ page.title }} {% else %} Archives {%
  endif %}
</h1>

<ul>
  {% for post in page.posts %}
  <li>
    <a href="{{ post.url }}">{{ post.title }}</a> - {{ post.date | date: "%b %d,
    %Y" }}
  </li>
  {% endfor %}
</ul>
{% if page.posts.size == 0 %}
<p>No posts found.</p>
{% endif %}
<a href="{{ '/' | relative_url }}">Back to Home</a>
